
<header>
    <h1>Planificación y Administración de Redes</h1>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href=""><del>Horario</del></a></li> <!--horario.html-->
            <li><a href="comandos.html">Comandos</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Tareas</a>
                <div class="dropdown-content">
                    <a href="t_1_ev.html">1.ª Evaluación</a>
                    <a href="t_2_ev.html">2.ª Evaluación</a>
                    <a href="t_3_ev.html">3.ª Evaluación</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Prácticas</a>
                <div class="dropdown-content">
                    <a href="p_1_ev.html">1.ª Evaluación</a>
                    <a href="p_2_ev.html">2.ª Evaluación</a>
                    <a href="p_3_ev.html">3.ª Evaluación</a>
                </div>
            </li>
            <li><a href="enlaces.html">Enlaces Útiles</a></li>
        </ul>
    </nav>
</header>